#DOCKER ENV VARIABLES

#URL hostname
hostname=
#mongodb connections
dbuser=
dbpass=
dbhost=
#sessions secret
session_secret=12345678
#jwt_secret for decryption DEPRECATED
jwt_secret=
#pinata configuration
pinata_key=c6116fcec6fcc1649815
pinata_secret=O1fxqK8ipe8-9qszhPQJ5xmmqOWXRUVL-b29-CbdtwzSvOMLllp7Uk29TUTbd7aD
pinata_gateway=https://apricot-managing-kiwi-345.mypinata.cloud
#credentials for local db deployment
localdbuser=admin
localdbpass=admin
localdbhost=
#URL for blockchain network for db syncronization
base_bcn_url=http://rair-sync:5001
#infura credentials
infura_project_id=
#admin nft for permissions
admin_nft_chain=0x2105
admin_contract=0x7849194dd593d6c3aed24035d70b5394a1c90f8f
#sentry configurations for site optics
sentry_enabled=true
sentry_endpoint=https://b1b9b63c8d484d35a7f47235c681201b@o1004167.ingest.sentry.io/5965143
sentry_trace_rate=1.0
sentry_release=unknown_development_build
#blockchain RPC endpoints for lookup and syncronization functionality
matic_testnet_rpc=https://polygon-mumbai.infura.io/v3/92a88973a28d41318792f77451db4c5b
matic_mainnet_rpc=https://polygon-mainnet.infura.io/v3/92a88973a28d41318792f77451db4c5b
ethereum_mainnet_rpc=https://mainnet.infura.io/v3/92a88973a28d41318792f77451db4c5b
ethereum_testnet_sepolia_rpc=https://eth-sepolia.g.alchemy.com/v2/UH67Xqjebta3R7o87iCjhnyeG3w4PITj
binance_testnet_rpc=https://data-seed-prebsc-1-s1.binance.org:8545/
binance_mainnet_rpc=https://bsc-dataseed.binance.org/
astar_mainnet_rpc=https://astar-mainnet.g.alchemy.com/v2/9KZaDwMUro6LImKeM717TmysfBSi3iNH
base_mainnet_rpc=https://base-mainnet.g.alchemy.com/v2/LPVexfumI81FHrSqJyhwpZ9ybdXXx4SM
#default image for NFTs that have no metadata
default_product_cover=https://rair.myfilebase.com/ipfs/QmcV94NurwfWVGpXTST1we8uDbYiVQamKe87WEHK6DRzqa
#ipfs configuration - pinata or ipfs
ipfs_service=filebase
ipfs_gateway=http://rairipfs:8080/ipfs
ipfs_api=http://rairipfs:5001
#gcp storage configuration
gcp_project_id=rair-market
gcp_image_bucket_name=rair_images
gcp_video_bucket_name=rair-videos
gcp_gateway=https://storage.googleapis.com
gcp_credentials=
mongo_log_collection=Log
log_level=debug
#redis configuration for sessions
redisthhost=rair-redis
redisport=6379
session_ttl=

#deprecated
zoom_contract_id=

# for blockchain-networks-service
test_bscscan_gateway=https://testnet.bscscan.com/token
test_polygonscan_gateway=https://mumbai.polygonscan.com/token
test_etherscan_gateway=https://sepolia.etherscan.io/token
polygonscan_gateway=https://polygonscan.com/token
etherscan_gateway=https://etherscan.io/token
bscscan_gateway=https://bscscan.com/token
astar_gateway=https://blockscout.com/astar/token/
base_gateway=https://basescan.org/token

# tasks configurations in minutes
sync_contract_repeat_every=30
sync_contract_task_interval=5

# blockchain networks configs

# Binance Mainnet
binance_mainnet_factory_addres=
binance_mainnet_minter_address=
binance_mainnet_diamond_factory_address=
binance_mainnet_diamond_marketplace_address=

# Binance Testnet
binance_testnet_factory_addres=
binance_testnet_minter_address=
binance_testnet_diamond_factory_address=
binance_testnet_diamond_marketplace_address=
binance_resale_address=

# Sepolia
sepolia_factory_addres=
sepolia_minter_address=
sepolia_diamond_factory_address=
sepolia_diamond_marketplace_address=
sepolia_resale_address=
sepolia_credit_address=

# Matic Mumbai
matic_mumbai_factory_addres=
matic_mumbai_minter_address=
matic_mumbai_diamond_factory_address=
matic_mumbai_diamond_marketplace_address=
matic_mumbai_resale_address=

# Matic Mainnet
matic_mainnet_factory_addres=
matic_mainnet_minter_address=
matic_mainnet_diamond_factory_address=
matic_mainnet_diamond_marketplace_address=

# Ethereum Mainnet
ethereum_mainnet_factory_addres=
ethereum_mainnet_minter_address=
ethereum_diamond_factory_address=
ethereum_diamond_marketplace_address=

# Base
base_diamond_factory_address=
base_diamond_marketplace_address=


# Astar Mainnet
astar_diamond_factory_address=
astar_diamond_marketplace_address=

#deprecated terraform variables
rairnode_generate_mongo_uri_with_vault_credential_util=false
blockchain_network_generate_mongo_uri_with_vault_credential_util=false
RAIRNODE_mongo_db_hostname="???"
BLOCKCHAIN_NETWORK_mongo_db_hostname="???"
mongo_db_name="??"

#vault integration
VAULT_URL="???"

## Rairnode App
rairnode_generate_mongo_uri_with_vault_credential_util=false
VAULT_RAIRNODE_APP_ROLE_ID=""
VAULT_RAIRNODE_APP_ROLE_SECRET_ID=""
VAULT_RAIRNODE_use_x509_cert_auth=true

## Blockchain Network app
blockchain_network_generate_mongo_uri_with_vault_credential_util=false
VAULT_BLOCKCHAIN_NETWORK_APP_ROLE_ID=""
VAULT_BLOCKCHAIN_NETWORK_APP_ROLE_SECRET_ID=""
VAULT_BLOCKCHAIN_NETWORK_use_x509_cert_auth=true

#rair-front 
front_socket_uri=:5000

# media-service
media_service_port=5002
base_rairnode_url=http://rair-node:5000

VAULT_MEDIA_SERVICE_APP_ROLE_ID=
VAULT_MEDIA_SERVICE_APP_ROLE_SECRET_ID=
VAULT_MEDIA_SERVICE_use_x509_cert_auth=

#vault key for users with admin access to the marketplace
SUPER_ADMIN_VAULT_STORE="key of admin addresses from Vault"

#deprecated nft gated zoom functionality
zoom_api_key=
zoom_api_secret=
zoom_meeting_id=

#alchemy configuration
alchemy_api_key=

#withdrawer key for resale marketplace
withdrawer_private_key=

# Filebase
filebase_access_key=
filebase_secret_access_key=
filebase_bucket=

app_name=test-deployment
